{% load i18n %}
{% include "hospital/navbar.html" %}
{% load static %}
 <h2 class="text-center mt-3">Hospital related Blog</h2>
 <div class="container">
     <div class="col-md-13 mt-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Post by Dr.yosida</strong>
          <h3 class="mb-0">What to do to keep yourself and others safe from COVID-19</h3>
          <p class="card-text mb-auto">Maintain at least a 1-metre distance between yourself and others to reduce your risk of infection when they cough,
              sneeze or speak.
            </p>
          <a href="/post1" class="btn btn-lg btn-block btn-primary">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <svg width="200" height="200"
  xmlns="http://www.w3.org/2000/svg">
  <image href="https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png" height="200" width="200"/>
</svg>
        </div>
      </div>
    </div>

 </div>



 <div class="container">
     <div class="col-md-13 mt-3">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Post by Dr.hataka</strong>
          <h3 class="mb-0">The COVID-19 vaccine race – weekly update </h3>
          <p class="card-text mb-auto">
              Scientists around the world are working faster than ever to develop and produce
              vaccines that can stop the spread of COVID-19. Since the emergence of this novel
              coronavirus in December 2019.


              </p>
          <a href="/post2" class="btn btn-lg btn-block btn-primary">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <svg width="200" height="200"
  xmlns="http://www.w3.org/2000/svg">
  <image href="https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png" height="200" width="200"/>
</svg>
        </div>
      </div>
    </div>

 </div>

  {% include "hospital/footeronly.html" %}
