{% extends 'hospital/homebase.html' %}
{% block content %}


<div class="container my-3">
    <h2 class="blog-post-title">What to do to keep yourself and others safe from COVID-19</h2>
<a href="/home"> Post by Dr.yosida </a>
    <p>Maintain at least a 1-metre distance between yourself and others to reduce your risk of infection when they cough, sneeze or speak. Maintain an even greater distance between yourself and others when indoors. The further away, the better.
Make wearing a mask a normal part of being around other people. The appropriate use, storage and cleaning or disposal are essential to make masks as effective as possible</p>
    <hr>
</div>
<div class="container py-4 mt-4">
    <h3 class="text-center">Catch our location</h3>
	<div class="row">
        <iframe class="well well-sm col-xs-13 col-sm-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3515.484591756416!2d83.95053301478083!3d28.22296778258108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39959520dda54ba1%3A0x493a9665aa5aff63!2sBishnu%20Homestay%2CSedi%20Village-18%2C%20Pokhara!5e0!3m2!1sen!2sjp!4v1582874430947!5m2!1sen!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
 <hr>


{% endblock %}