{% extends 'hospital/homebase.html' %}
{% block content %}


<div class="container my-3">
    <h2 class="blog-post-title">The COVID-19 vaccine race – weekly update </h2>
     <a href="/home"> Post by Dr.hataka </a>
    <p>   Scientists around the world are working faster than ever to develop and produce
              vaccines that can stop the spread of COVID-19. Since the emergence of this novel
              coronavirus in December 2019, more than a dozen vaccines have started to be rolled out.
              Here is an at-a-glance overview of those vaccines and recent developments of those vaccine
              candidates in clinical trials.</p>
    <hr>
</div>
<div class="container py-4 mt-4">
    <h3 class="text-center">Catch our location</h3>
	<div class="row">
        <iframe class="well well-sm col-xs-13 col-sm-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10476.044262827443!2d141.6695834082934!3d45.413574453652416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x75fd046011816e3e!2sMunicipal%20Wakkanai%20Hospital!5e0!3m2!1sen!2sjp!4v1625488306873!5m2!1sen!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
 <hr>


{% endblock %}